janus: {
#  url: "wss://janus.conf.meetecho.com/ws"
#  room: 1234
  display: "janus-videoroom-streamer"
}

streamer: {
  type: "restreamer"
  url: "rtsp://ipcam.stream:8554/bars-vp8"
}

debug: {
#  log-level: 3
#  lws-log-level: 2
}
